@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(218, 28%, 13%);
    font-family: 'Raleway', sans-serif;
}

button{
    background-color:  hsl(198, 60%, 50%);
}